.friendsListItem {
  padding: 6px;
  border-radius: 10px;
  border: 2px solid black;
}

.friendName {
  font-size: 20px;
  margin-top: 8px;
  font-weight: 500;
}

.avatar {
  width: 64px;
  margin: 0 auto;
  margin-top: 5px;
}

.networkStatus.online {
  color: green;
}

.networkStatus.offline {
  color: red;
}
